@selection-column-padding: 0.25rem !important;

.page.header {
  padding-top: 1rem;
}

#feature-container .ui.medium.header {
  margin-top: 0;
  padding-top: 1rem;
}

.hidden {
  display: none !important;
}

.small.divider {
  margin: 0.5rem 0;
  border-color: transparent !important;
}

pre {
  margin-bottom: 0;

  #ontology-text {
    resize: none;
    min-height: 5rem;
    max-height: none;
  }
}

.selection {
  .column:not(:first-child):not(:last-child) {
    padding-left: @selection-column-padding;
    padding-right: @selection-column-padding;
  }

  .column:first-child {
    padding-right: @selection-column-padding;
  }

  .column:last-child {
    padding-left: @selection-column-padding;
  }
}
